.fl {
  float: left;
}
.fr {
  float: right;
}
.hide {
  overflow: hidden;
}
.v-hide {
  visibility: hidden;
}
.underline {
  text-decoration: underline;
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.3);
}
html,body, #main{
  height: 100%;
}
// 三倍屏会产生一些间隙
html[data-dpr="3"] .app-page > .app-content {
  margin-top: -0.02rem;
}
