/*移动端适配 width|height|font-size = 视觉稿量出来的值 / 100rem*/

/* 
 * 算法：屏幕尺寸宽度px / 设计图基准宽度px * 100
 */

// @media screen and (max-width: 359px) and (min-width: 320px) {
//   html,
//   body {
//     font-size: 42.66px !important;
//   }
// }

// @media screen and (max-width: 374px) and (min-width: 360px) {
//   html,
//   body {
//     font-size: 48px !important;
//   }
// }

// @media screen and (max-width: 413px) and (min-width: 375px) {
//   html,
//   body {
//     font-size: 50px !important;
//   }
// }

// @media screen and (max-width: 639px) and (min-width: 414px) {
//   html,
//   body {
//     font-size: 55.2px !important;
//   }
// }

// @media screen and (max-width: 749px) and (min-width: 640px) {
//   html,
//   body {
//     font-size: 85.33px !important;
//   }
// }

// @media screen and (min-width: 750px) {
//   html,
//   body {
//     font-size: 100px !important;
//   }
// }
* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  -webkit-overflow-scrolling: auto;
}
html,
body {
  // height: 100%;
  // 默认设计一倍尺寸
  // font-size: 100px !important;
  transform: translate(0, 0);
}
body {
  font-family: "MicrosoftYaHei", "微软雅黑", "PingFang-SC-Bold", "Verdana",
    "Arial", "宋体";
}

li {
  list-style: none;
}

img {
  font-size: 0.14rem;
}

a,
img,
button,
input,
textarea,
div {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

input:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-modify: read-write-plaintext-only;
}

input {
  background: none;
  outline: none;
  border: 0px;
  font-family: "MicrosoftYaHei";
}
input[type="button"],
input[type="submit"],
input[type="reset"] {
  -webkit-appearance: none;
}
input::placeholder {
  color: #919191;
}
textarea {
  -webkit-appearance: none;
}

#app {
  font-size: 0.24rem;
  height: 100%;
  min-height: 13.34rem;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary,
section,
main {
  display: block;
}
